html, body{
    margin: 0px; 
    padding: 0px; 
    background: #fff; 
    font-size:14px; 
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

@font-face {
    font-family: 'Roboto:100,300,400,700, 900', sans-serif;
}

.clearfix {
clear: both;
height: 0px;
font-size: 0px;
outline: none;
border: 0px !important;
}

h1, h2, h3{
    font-weight: normal;
    color: #000;
    padding: 0px;
}

h1 {
    font-size: 30px;  margin: 50px 0px 27px;
}
h2 {
    font-size: 24px; margin: 10px 0px 7px 0px;
}
h3 {
    font-size: 15px; margin: 10px 0px;
}

.main {
    width: 900px; margin: auto;
}

/* header - nav & languages */
.bg {
    text-align: center;
    background: #3f4345;
    background: -moz-linear-gradient(top, #3f4345 0%, #000 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3f4345), color-stop(100%, #000));
    background: -webkit-linear-gradient(top, #3f4345 0%, #000 100%);
    background: -o-linear-gradient(top, #3f4345 0%, #000 100%);
    background: -ms-linear-gradient(top, #3f4345 0%, #000 100%);
    background: linear-gradient(to bottom, #3f4345 0%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4345', endColorstr='#000', GradientType=0 );
    position: relative; 
    height: 85px;
    text-align: center;
}
.nav {
    display: block;
    float: left;
    position: relative; 
    text-align: center; 
    margin: auto -10px;
}

.nav ul {
    margin:55px 0 0 0;
    padding: 0; 
    display: block;
}
.nav li {
    list-style: none;
    display: block;
    float: left;
    }
.nav a {
    font-size: 14px;
    line-height: 32px;
    color: #D4D4D4; 
    text-shadow:  0 -1px 0 rgba(0,0,0,0.7);
    text-decoration: none;
    display: block;
    float: left;
    position: relative;
    padding: 0px 20px 0px 19px;
    margin: 0px;
    border-left: 1px #44484A solid;
    border-right: 1px #232526 solid;
    border-bottom: 3px #373B3D solid;
    background: #3f4345;
    background: -moz-linear-gradient(top, #3f4345 0%, #373B3D 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3f4345), color-stop(100%, #373B3D));
    background: -webkit-linear-gradient(top, #3f4345 0%, #373B3D 100%);
    background: -o-linear-gradient(top, #3f4345 0%, #373B3D 100%);
    background: -ms-linear-gradient(top, #3f4345 0%, #373B3D 100%);
    background: linear-gradient(to bottom, #3f4345 0%, #373B3D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4345', endColorstr='#373B3D', GradientType=0 );
}

.nav a:hover {
    border-bottom: 3px #ACD373 solid;
    background: #3f4345;
    background: -moz-linear-gradient(top, #303234 0%, #35393B 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #303234), color-stop(100%, #35393B));
    background: -webkit-linear-gradient(top, #303234 0%, #35393B 100%);
    background: -o-linear-gradient(top, #303234 0%, #35393B 100%);
    background: -ms-linear-gradient(top, #303234 0%, #35393B 100%);
    background: linear-gradient(to bottom, #303234 0%, #35393B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303234', endColorstr='#35393B', GradientType=0 );
    transition: 0.9s;
}

.nav a.act {
    border-top: 3px #3A3D3F solid;
    border-bottom: 0px;
    background: #3A3D3F;
    background: -moz-linear-gradient(top, #3A3D3F 0%, #292B2D 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3A3D3F), color-stop(100%, #292B2D));
    background: -webkit-linear-gradient(top, #3A3D3F 0%, #292B2D 100%);
    background: -o-linear-gradient(top, #3A3D3F 0%, #292B2D 100%);
    background: -ms-linear-gradient(top, #3A3D3F 0%, #292B2D 100%);
    background: linear-gradient(to bottom, #3A3D3F 0%, #292B2D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3A3D3F', endColorstr='#292B2D', GradientType=0 );
    }

.nav a.act:before {
    top: -3px;
    position: absolute;
    z-index: 2;
    content: "";
    height:3px; width:100%;
    margin-left: -20px;
    background-color:#ACD373;
    background-color:#F26C4F;
}

.nav li:first-child a {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.nav li:last-child a {
    border-top-right-radius: 2px;
    border-bottom-right-radius:2px;
    clear: both;
}

.lang {
    display:block;
    margin-right: -30px;
    float: left;}
.lang ul {
    list-style: none;
    margin: 65px 10px 0px 58px; padding: 0px;
}
.lang li {
    display:block;
    float: left;
}
.lang a {
    display: inline-block;
    width: 14px;
    height: 11px;
    background-image: url(../img/ico_lang.png);
    background-repeat: no-repeat;
    margin: 0 5px;
}
.lang a:hover {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    transition: 0.9s;}
.lang .eng {
    background-position: 0 0;
}
.lang .rus {
    background-position: -24px 0;
}
.lang .deu {
    background-position: -48px 0;
}
.lang .fra {
    background-position: -73px 0;
}

.section {
    padding-bottom:23px;
}

/* content */
.advice {
    width: 300px;
    margin-right: 30px;
    float: left;
}
.advice p {
    font-size: 12px;
    line-height: 18px;
}
.advice p.bordered {
    font-size: 12px;
    color:#747474;
    padding: 10px;
    border: 3px #EAC560 solid;
    margin: 17px 0px 10px -10px;
}
.advice a {
    color: #008CCC;
}

.advice-tabs {
    width: 550px;
    float: left;
}

.colored-bg {
    background-color: #F8F8F8;
    padding: 22px 0;
    margin-top: 15px;
    clear: both;
}

.colored-bg .note {
    font-size: 12px;
    text-align: center;
    color: #747474; 
    padding: 18px 100px 25px 100px;
}

.browser {
    text-align: center;    
    width: 140px;
    margin:20px 40px;
    float: left;
}
.browser a {
    background-image: url(../img/ico_browsers_large.png);         background-repeat: no-repeat;
    display: block;
    padding-top: 125px;
    
}
.browser:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.8s;
}
.browser-ie {
    background-position: 20px 0px;
}
.browser-ff {
    background-position: -210px 0px;
}
.browser-gc {
    background-position: -437px 0px;
}
.browser-sa {
    background-position: -670px 0px;
}
.browser i {
    font-style: normal;
    font-size: 14px; color: #69696A;
}
.browser a {
    font-size: 18px;
    line-height: 24px;
    display: block;
    color: #008CCC;
}
 
.four-blocks {
    clear: both; padding-top: 5px;
}
.four-blocks-one {
    font-size: 12px;
    line-height: 17px;
    width: 200px;
    float: left;
    margin-right: 25px;
}
.four-blocks div:last-child {
    margin-right: 0px;
}
.four-blocks-one a {
    color: #001F56;
}
.four-blocks-one a:hover {
    text-decoration: none;
}
.support {
    text-align: center;
    font-size: 18px;
    padding: 15px 0 8px 0;
}
.support a {
    color: #008CCC;
    font-size: 18px;
}

.footer {
    background-color: #161818;
}
.copyright {
    font-size: 14px; 
    padding: 18px 0px;
    color: #fff;
}
.copyright a {
    color: #fff;
    text-decoration: none;
}
.copyright a:hover {
    text-decoration: underline;
}

/* tabs */
.tabs_block {
    width: 100%;
    max-width: 530px;
    min-width: 530px;
    margin: -5px auto 0 auto;
}
.tabs_block:after {
    content:"";
    display:block;
    clear:both;
}

.tabs {    
    margin: 0;
    padding: 0;
    list-style: none;
    float:left;
}
/* tabs list */
.tabs li {
    font: bold 14px/32px Arial, sans-serif;
    text-align: center;
    float: left;
    padding: 4px 21px;
    background-color: #fff;
    margin-right: 0px;
    cursor: pointer;
    color: #000;
}
.tabs li:hover {
    color:#000; 
    -webkit-filter: grayscale(0);
     filter: grayscale(0);  
}

/* active tab */
.tabs li.active {
    background-color:#F9F9F9;
    color:#000; 
    border: 1px #F9F9F9 solid;
    border-top: 1px #F9F9F9 solid;
    border-left: 1px #EFEFEF solid;
    border-right: 1px #EFEFEF solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-filter: grayscale(0);
    filter: grayscale(0); 
}

/* tab content */

.box {
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    background:#F9F9F9;
    border: 1px #F9F9F9 solid;
    border-bottom: 1px #CFCFCF solid;
    border-left: 1px #EFEFEF solid;
    border-right: 1px #EFEFEF solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    width:96%;
    margin-top: 0px;
    padding:5px 2% 6px;
    display:none;
    text-align: left;
    float: left;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.box ol {
    margin: 6px 25px 15px 25px;
    padding: 0px;
}
.box li {
    padding: 4px 0px;
}
.box p {
    padding: 4px 0px;
    margin: 15px;
}

/* default tab */
.visible, .open_tab {
    display: block;
}

/* tabs icons */
.tabs li {
    background-image: url(../img/ico_browsers_small.png);
    background-repeat: no-repeat;
    padding-left: 36px;
    -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
}
.tabs .ie {
    background-position: 15px 11px;
}
.tabs .ff {
    background-position: 15px -34px;
}
.tabs .ch {
    background-position: 15px -79px;
}
.tabs .sa {
    background-position: 15px -124px;
}
